 @use "../../index" as v;

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/eniola.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

    .main__header{
      margin: auto;
      padding: 10px;
    }

    .main__header-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 40%;

        h1,
        h3 {
            text-align: center;
        }

        h3 {
            margin: 1.3rem;
        }

        .page__link {
            display: flex;
            gap: 1.5rem;
            margin: 3rem;

            .btn {
                display: inline-block;
                width: max-content;
                margin: 0 auto;
                padding: 0.9rem 2rem;
                border-radius: 0.9rem;
                transition: v.$transition;
        
                .btn:hover {
                    background: v.$color-white;
                    color: v.$color-gray;
                    border-color: transparent;
                }
            }
        }
    }


}

